# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

1. Python - A general-purpose language that can be used for statistical analysis and visualizations
2. R - A more specialized language that can be used for statistical analysis and visualizations
3. SQL - A structured query language that can be used for manipulating structured data
4. C++ - A language that can be faster than Python for computationally intensive tasks
5. SAS - A language that is commonly used in business intelligence and is not recommended for beginners
6. Julia - A language that can be used for data analysis and is sometimes called the successor to Python

<b>Objectives:
    
<u1>1. Basics of jupyter notebook is used
<li>how to use markdown cell, calculation using multiplication, division
    
<u1>2. List popular languages for Data Science
<li> arthematic operation,
<li> numpy

In [1]:
pip install tabulate

Requirement already satisfied: tabulate in c:\users\leono\anaconda3\lib\site-packages (0.8.10)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from tabulate import tabulate
 
mydata = [
    ["NumPy", "Keras"], 
    ["Pandas", "PyTorch"], 
    ["SciPy", "Scikit-Learn"], 
      ["TensorFlow", "Matplotlib"]
]
 
head = ["Data Science Tools","Data Science Tools"]
 
print(tabulate(mydata, headers=head, tablefmt="grid"))

+----------------------+----------------------+
| Data Science Tools   | Data Science Tools   |
+======================+======================+
| NumPy                | Keras                |
+----------------------+----------------------+
| Pandas               | PyTorch              |
+----------------------+----------------------+
| SciPy                | Scikit-Learn         |
+----------------------+----------------------+
| TensorFlow           | Matplotlib           |
+----------------------+----------------------+

<h3>Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
x = (3*4)+5
print(x)
#This a simple arithmetic expression to mutiply then add integers

17

In [11]:
# This will convert 200 minutes to hours by diving by 60
min = int(input("enter time in minutes"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

enter time in minutes200
Hours= 3
Minutes= 20

<h2>Author name:
Doilyn Oliveira